@model Piruzram.Models.ProductImage

<label asp-for="@Model.ImageAddress" class="control-label"></label>
<input asp-for="@Model.ImageAddress" class="form-control" />
<span asp-validation-for="@Model.ImageAddress" class="text-danger"></span>