@using Piruzram.ViewModel
@model ProductViewModel

@{
    ViewData["Title"] = @Model.Id == 0 ? "جدید" : "ویرایش";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>@ViewData["Title"]</h1>

<h4>محصول</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Save" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <input asp-for="Id" class="form-control" hidden />
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>

                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>

                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>

                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="@Model.CategoriesDropDown">
                    <option>Please select one</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
                @if (Model.Id != 0)
                {
                    <div id="productImagesContainer">
                        @Html.EditorFor(Model => Model.ProductImages)
                    </div>
                    <br />
                    <button type="button" class="btn btn-success" id="btnAdd">
                        افزودن تصویر
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                        </svg>
                    </button>
                }
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="ذخیره" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>


        $("#btnAdd").on('click',function() {
            $.ajax({
                async: true,
                data: $('#form').serialize(),
                type: "POST",
                url: '/Product/AddProductImages',
                success: function (partialView){
                    console.log("partialView: " + partialView);
                    $('#productImagesContainer').html(partialView);
                }
            });
        });
    </script>

    }




    @*
        $('#form1').append('<input class="form-control valid" type="text" data-val="true" data-val-maxlength="The field ImageAddress must be a string or array type with a maximum length of '200'." data-val-maxlength-max="200" data-val-required="The ImageAddress field is required." id="ProductImages_1__ImageAddress" maxlength="200" name="ProductImages[1].ImageAddress" value="" aria-describedby="ProductImages_1__ImageAddress-error" aria-invalid="false">');
        ('#form1').append("<input class='form-control valid' type='text'/>");


        data-val:'true',
        data-val-maxlength:"The field ImageAddress must be a string or array type with a maximum length of '200'.",
        data-val-maxlength-max:"200",
        data-val-required:"The ImageAddress field is required.",
        id:"ProductImages_1__ImageAddress",
        maxlength:"200",
        name:"ProductImages[1].ImageAddress",
        value:"",
        aria-describedby:"ProductImages_1__ImageAddress-error",
        aria-invalid:"false"
    *@
